@model Lab1.Models.Student

@{
    ViewBag.Title = "EditStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Изменение студента</h3>
<h5><b>Измените данные о студенте:</b></h5>

@using (Html.BeginForm("EditStudent", "Student"))
{
    <table>
        <tr>
            <td hidden>@Html.TextBoxFor(x => x.id)</td>
        </tr>
        <tr>
            <td>@Html.DisplayName("Фамилия: ")</td>
            <td>@Html.TextBoxFor(x => x.surname)</td>
        </tr>
        <tr>
            <td>@Html.DisplayName("Имя: ")</td>
            <td>@Html.TextBoxFor(x => x.name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayName("Год поступления: ")</td>
            <td>@Html.TextBoxFor(x => x.yearOfEntering)</td>
        </tr>
        <tr>
            <td>@Html.DisplayName("Специальность: ")</td>
            <td>@Html.TextBoxFor(x => x.specialty)</td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Сохранить" />

}

