@model List<Lab1.Models.Student>

@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список студентов</h2>

<table border="1" cellpadding="1">
    <tr> 
        <td align="center" width="150"><b>Фамилия</b></td>
        <td align="center" width="150"><b>Имя</b></td>
        <td align="center" width="100"><b>Год поступления</b></td>
        <td align="center" width="300"><b>Специальность</b></td>
        <td width="80"></td>
        <td width="80"></td>
    </tr>
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
        <tr>
            <td> @item.surname </td>
            <td> @item.name </td>
            <td align="center"> @item.yearOfEntering </td>
            <td> @item.specialty </td>
            <td align="center"><b>@Html.ActionLink("Изменить", "EditStudent", new { id = item.id })</b></td>
            <td align="center"><b>@Html.ActionLink("Удалить", "DeleteStudent", new { id = item.id })</b></td>
            <td align="center"></td>
        </tr>        
        }
    }
    else
    {
        <tr><td colspan="7">Студенты отсутствуют! Добавьте хотя бы одного студента</td></tr>
    }
</table>
<br />
<b>@Html.ActionLink("Добавить студента", "AddStudent")</b><br/>
<b>@Html.ActionLink("Обновить данные", "StudentList")</b>
