
@{
    ViewBag.Title = "CreateNewPostForm";
}
<div>
    @using Lab2.Models
    @model CurrentStudent
    @using (Html.BeginForm("CreateNewPost", "Home", Model))
    {
        <p>Текущий студент: @Model.FirstName @Model.LastName</p><br />
        <p>Заголовок поста</p>
        @Html.TextBox("Description",null,  new { @class = "form-control"})<br />
        @Html.TextArea("Content", null, new { @class = "form-control", rows = "15", style = "width: 100%; max-width: 100%; resize: none;" })
        <p>Введите теги если необходимо. Каждый тег должен начинаться со знака #</p>
        @Html.TextBox("TagsStr",null, new { @class = "form-control", style = "width: 100%; max-width: 100%;" })
        <p><input type="submit" class="btn btn-success" value="Опубликовать" /></p>
    }
</div>

