
@using Lab1.Models
@model StudentSummary

<link href="http://cdn.jsdelivr.net/bootstrap.datepicker/0.1/css/datepicker.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
<script src="http://cdn.jsdelivr.net/bootstrap.datepicker/0.1/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker(
            {
                viewMode: 'month',
                format: 'dd-mm-yyyy'
            });
    });
</script>


@using (Html.BeginForm("UpdateInfoStudent", "Student"))
{
    @Html.ActionLink("На главную", "Index", "Student", null, null)
    <p>Введите ID студента</p>
    @Html.TextBox("ID", "", new { required = "required" });
    <input type="submit" value="Просмотреть" formmethod="get">

    if (Model != null)
    {

        foreach (System.Collections.Generic.KeyValuePair<string, string> Now in Lab1.Views.Student.ActionsConst.StudentPsevdonims)
        {
            <p><h5>@Now.Key</h5></p>
            if (@Now.Value == "ReceiptDate")
            {
                <div class="input-append date" id="datepicker" data-date="02-2012">
                    <input type="text" readonly="readonly" name="ReceiptDate" required="required" value=@Model.GetType().GetProperty(Now.Value).GetValue(Model).ToString()>
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            }
            else
            {
                @Html.TextBox(@Model.GetType().GetProperty(Now.Value).Name, @Model.GetType().GetProperty(Now.Value).GetValue(Model),
                        new { required = "required" })
            }
        }
        <input type="submit" value="Сохранить" formmethod="post">
    }
    else
    {
        <p><h3>Студент не найден.</h3></p>
    }
}