@model IEnumerable<ServiceModels.PostInfo>

@{
    ViewBag.Title = "NewsFeed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewsFeed</h2>

<div>
    <input type="button" value="Create new post" onclick="location.href='@Url.Action("CreatePost", "Post", new { user = TempData["user"]})'" class="btn btn-default" />
</div>

@foreach (var itemModel in Model)
{
    <div class="form-horizontal">
        <div>
            <hr />
            <h4>@Html.DisplayFor(model => itemModel.Title)</h4>
            <dl class="dl-horizontal">
                <dd>
                    @Html.DisplayFor(model => itemModel.Content)
                </dd>

                @foreach (var tag in itemModel.Tags)
                {
                    <dd>
                        @Html.DisplayFor(model => tag.Tag.Name)
                    </dd>
                }

                <dd>
                    @Html.DisplayFor(model => itemModel.Created)
                </dd>

                <dd>
                    @Html.DisplayFor(model => itemModel.Author.FirstName) @Html.DisplayFor(model => itemModel.Author.LastName)
                </dd>

            </dl>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Read" onclick="location.href='@Url.Action("GetPost", "Post", new { user = TempData["user"], post = itemModel.Id })'" class="btn btn-default" />
                <input type="button" value="Edit" onclick="location.href='@Url.Action("EditPost", "Post", new { user = TempData["user"], post = itemModel.Id })'" class="btn btn-default" />
                <input type="button" value="Delete" onclick="location.href='@Url.Action("DeletePost", "Post", new { user = TempData["user"], post = itemModel.Id })'" class="btn btn-default" />
            </div>
        </div>
    </div>
}

