@model Lab2.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Tag:
        </dt>
        <dd>
            @foreach (var item in Model.Tags)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Comments:
        </dt>
        <dd>
            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        <b>
                            @Html.DisplayFor(modelItem => item.Created)
                        </b>
                    </td>
                    <td>
                        <b>
                            @Html.DisplayFor(modelItem => item.Author)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>



                </tr>
                <div />
                <p />
            }
        </dd>
        <dd>
            <p>
                @Html.ActionLink("Create New comment", "CreateComment")
            </p>
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
