@model Lab1.Models.StudentInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <h4>In order to add a new student fill the following form</h4>

        <p style="color:red">@ViewBag.RegistredStudent</p>
        <hr>
        <table width="500">
            @using (Html.BeginForm("Create", "StudentRepository", FormMethod.Post))
            {
                <tr>
                    <td width="25%">@Html.LabelFor(student => student.FirstName)</td>
                    <td width="75%">@Html.EditorFor(student => student.FirstName)</td>
                </tr>
                <tr>
                    <td width="25%">@Html.LabelFor(student => student.SecondName)</td>
                    <td width="75%">@Html.EditorFor(student => student.SecondName)</td>
                </tr>
                <tr>
                    <td width="25%">@Html.LabelFor(student => student.Age)</td>
                    <td width="75%">@Html.EditorFor(student => student.Age)</td>
                </tr>
                <tr>
                    <td width="25%"><input type="submit" value="Create"></td>
                    <td width="75%"></td>
                </tr>
            }
        </table>
        <hr>
        @Html.ActionLink("Back to a student list", "Index");
    </div>
</body>
</html>
