@model Laba1.Models.Student
@{
    ViewBag.Title = "Детали";
}
<h2>Детали</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.StudentId)</dt>
        <dd>@Html.DisplayFor(model => model.StudentId)</dd>
        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>
        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>
        <dt>@Html.DisplayNameFor(model => model.Age)</dt>
        <dd>@Html.DisplayFor(model => model.Age)</dd>
        <dt>@Html.DisplayNameFor(model => model.CourseName)</dt>
        <dd>@Html.DisplayFor(model => model.CourseName)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { studentId = Model.StudentId }, new { @class = "btn btn-default" }) <br/>
    @Html.ActionLink("Назад к списку", "Index")
</p>
