@model IEnumerable<Laba1.Models.Student>
@{
    ViewBag.Title = "Список студентов";
}
<h2>Список студентов</h2>
<p>
    @Html.ActionLink("Создать", "Create",null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Age)</th>
        <th>@Html.DisplayNameFor(model => model.CourseName)</th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { studentId = item.StudentId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Детали", "Details", new { studentId = item.StudentId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Удалить", "Delete", new { studentId = item.StudentId }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    }
</table>
